@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #E0E0E0;
  --layer-1: #1E1E1E;
  --sub-text: #94A3B8;
  --border-color: #333333;
  --click-to-action: #F59E0B;
}

@utility bg-layer-1 {
  background-color: var(--layer-1);
}

@utility primary-bg {
  background-color: var(--background) !important;
}

@utility black-text {
  color: var(--background) !important;
}

@utility secondary-text {
  color: var(--sub-text);
}

@utility border-color {
  border-color: var(--border-color) !important;
  border-width: 1px !important;
}

@utility border-color-bottom {
  border-bottom-color: var(--border-color) !important;
  border-bottom-width: 1px !important;
}

@utility border-color-left {
  border-left-color: var(--border-color) !important;
  border-left-width: 1px !important;
}

@utility bg-click-to-action {
  background-color: var(--click-to-action) !important;
}

label {
  @apply block text-xs font-semibold mb-2;
}

input,
textarea {
  @apply w-full primary-bg rounded-xl px-4 py-3 text-sm focus:ring-1 focus:ring-amber-500/50 outline-none transition-all;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@utility primary-btn {
  @apply w-full bg-click-to-action black-text font-bold py-3.5 rounded-xl cursor-pointer text-sm tracking-wide transition-opacity mt-2 disabled:opacity-50;

  &:hover {
    @apply transition-colors duration-150;
    background-color: #ffa200 !important;
  }
}

@utility secondary-btn {
  @apply w-full border border-color font-bold py-3.5 rounded-xl cursor-pointer text-sm tracking-wide transition-opacity mt-2 disabled:opacity-50;

  &:hover {
    @apply transition-colors duration-150 bg-white/5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #E0E0E0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}